.btn-form-submit {

  font-size: 24px;
  font-weight: bold;
  color: #004A80;
  background-image: linear-gradient(225deg, #F2DA56 0%, #F6BC25 100%);
  box-shadow: 0 3px 0 0 #A6953B, inset 0 1px 0 0 #FFFFFF;
  border-radius: 6px;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;
  width: 180px;
  margin-left: 20px;
  outline: none; //Added to override the styles that made the style look different from the spect
  border: none; //Added to override the styles that made the style look different from the spect

  @media (max-width: 767px) {
    width: 100%;
    margin: 12px 0 0 0;
  }

  &:hover {
    background-image: none;
    background-color: #F2DA56 ; //Changed the color
  }

  &:active { //Created the state active
    background-image: none;
    background-color: #F6BC25 ; 
  }
}

.input-group {
  > .form-control {
    height: 70px;
    background: #FFF;
    box-shadow: inset 0 -1px 4px 0 rgba(0, 0, 0, 0.20);
    border-radius: 3px !important;
    font-size: 22px;

    &::placeholder {
      color: #9B9B9B;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
    }

    @media (max-width: 767px) {
      width: 100%;
      height: 50px;
    }
  }

  &.error > .form-control {
    border: 3px solid #DC0015;
    border-radius: 3px 3px 0 0 !important;
    @media (max-width: 767px) {//Added responsive code for the error message to show as it was planned on the spect
      margin-bottom: 28px;
    }

  }
}

.form-subtext {
  font-size: 16px;
  color: #FFF;
  margin: 0 0 0 15px;
  line-height: normal;
}

.error-msg {
  display: none;
}

.input-group.error .error-msg {
  display: block;
  position: absolute;
  bottom: -30px;
  margin: 0px;
  padding: 4px 12px;
  background: #DC0015;
  color: #FFF;
  border-radius: 0 0 3px 3px !important; 
  font-size: 16px;

  @media (max-width: 767px) { //Added responsive code for the error message to show as it was planned on the spect
    width: 100%;
    top: 45px;
    bottom: inherit;
    left: 1px;
  }
}

#tab-phone{
  display: none;
}

.tab{
  justify-content: start;
  p{
    color:#FFFFFF;
    margin: 0px 24px 0px 0px;
    @media (max-width: 767px) {
      display: none;
    }
  }

  @media (max-width: 767px) {
    justify-content: center;
  }
}

.tab-button { //Added the class for the buttons to switch between email address search and phone number search
  color: #F6BC25;
  font-size: 16px;
  font-weight: bold;
  background-color: none;
  border: 3px solid #F6BC25;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 6px;
  margin-right: 20px;
  position: relative;
  transition: color 0.3s, background-color 0.3s;
}

.tab-button.active { //added the classe for the selected option to search 
  background-color: #F6BC25;
  color: #004A80;
}

.tab-button.active::after { 
  content: '';
  position: absolute;
  bottom: -10px; 
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #F6BC25;    
}
